<div class="card bg-dark my-4 text-white">
    <div class="card-header">{{ titulo }}</div>

    <div class="card-body ">
        <form>
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2"
                    >Nombre
                </label>
                <div class="col-sm-6">
                    <input
                        type="text"
                        class="form-control"
                        name="nombre"
                        [(ngModel)]="cliente.nombre"
                        placeholder="Introduce un nombre..."
                    />
                </div>
            </div>

            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2"
                    >Apellido
                </label>
                <div class="col-sm-6">
                    <input
                        type="text"
                        class="form-control"
                        name="apellido"
                        [(ngModel)]="cliente.apellido"
                        placeholder="Introduce un apellido..."
                    />
                </div>
            </div>

            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2"
                    >Email
                </label>
                <div class="col-sm-6">
                    <input
                        type="text"
                        class="form-control"
                        name="email"
                        [(ngModel)]="cliente.email"
                        placeholder="Introduce un email..."
                    />
                </div>
            </div>

            <div class="form-group-row">
                <div clas="col-sm-6">
                    <button
                        class="btn btn-primary btn-block"
                        (click)="create()"
                        *ngIf="!cliente.id; else elseBlock"
                        role="button"
                    >Crear
                    </button>
                    <ng-template #elseBlock>
                        <button
                            class="btn btn-primary btn-block"
                            (click)="update()"
                            role="button"
                        >Actualizar
                        </button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>
